<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Hóspedes</title>
</head>
<body>
    <h1>Hóspedes Cadastrados</h1>
    <a href="/hospedes/novo">Adicionar Hóspede</a>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Documento</th>
            <th>Data de Nascimento</th>
        </tr>
		<table class="table">
        <tr th:each="hospede : ${hospedes}">
            <td th:text="${hospede.id}"></td>
            <td th:text="${hospede.numDocumento}"></td>
            <td th:text="${hospede.dataNascimento}"></td>
			<td><a th:href="@{/selecionarHospedes}">Alterar</a></td>
			<td><a th:href="@{/excluirHospedes}">Excluir</a></td>
        </tr>
    </table>
</body>
</html>